*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing:0.1em;
}
.center {
  margin-left: 200px;
  margin-right: auto;
}
.center1{
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.center1, .center1 td {
  border: 3px solid  #cccccc;
  border-collapse:collapse;
  padding:15px;
}
.color1 {
  text-align: center;
  background-color:#e6e6e6;
}
.patientp{
  font-size:20px;
  padding-bottom:30px;
  margin-left:150px;
  background-color:seashell;
}
tr:hover{
  background-color:#f2f2f2;
}
.btn,.btn1{
  padding:10px;
  display: inline-block;
  border-radius: 0;
  border:1px solid #f2f2f2;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #1b1b1b ;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.btn:hover,.btn1:hover{
  box-shadow: inset 400px 0 0 0 #1b1b1b;
  color: white;
}

.container
{
  width:100px;
  height:30px;
  padding-top:0px;
  margin-left:610px;

}
.nd-box
{
  float:right;
  width:30px;
  height:60px;
  padding-top:10px;
  background-color:white;
  margin-left:10px;
  margin-bottom: 30px;
  font-size: 20px;
}

form
{
  width: 50%;
  margin-left: 300px;
  display: table;
  text-align: center;
  text-decoration-color: black;
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;
}
.p1
{
  margin-left: 400px
  display: table-row;
  text-align: center
  font-size:20px;
  padding-bottom:30px;
  padding-left:150px;
  color:black;
}

label
{
  display: table-cell;
  text-align: center
}
input
{
  display: table-cell;
  text-align: center
}
.tablecenter
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width : 75%;
  padding-top: 100px;
  align : center;
  margin-left: 100px;
  margin-right: auto;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.p2 p{
  position: relative;
  top:20px;
  font-size: 16px;
  width:800px;
}
.p3 p
{
  margin-top:50px;
  margin-left: 300px;
}
.p3 a{
  text-decoration: none;
  color:#a7a7a7;
  display: block;
  margin-top:20px;
  margin-left: 300px;
}
