*{
 margin: 0;
 padding: 0;
 user-select: none;
 box-sizing: border-box;
 font-family:sans-serif,serif;
 overflow-x: hidden;
}
.welcome
{
    margin-left: 400px;
    margin-top: 50px;
    font-size: 17px;
    letter-spacing:1px;
}

.sidebar{
 top: 0;
 left: 0;
 position: fixed;
 bottom: 10px;
 min-width: 280px;
 min-height: 800px;
 background: #1b1b1b;
 overflow-x: hidden;
 overflow-y: hidden;
}

.sidebar ul{
 background: #1b1b1b;
 height: 100%;
 width: 100%;
 list-style: none;
}
.sidebar ul li{
 line-height: 60px;
 border-top: 1px solid rgba(255,255,255,0.1);
}
.sidebar ul li:last-child{
 border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sidebar ul li a{
 position: relative;
 color: white;
 text-decoration: none;
 font-size: 15px;
 padding-left: 10px;
 letter-spacing:.2em;
 font-weight: 500;
 display: block;
 width: 100%;
 border-left: 3px solid transparent;
   text-align: center;
}

.sidebar ul li.active a{
 color: cyan;
 background: #1e1e1e;
}
.sidebar ul li a:hover{
 background: #1e1e1e;
 border-left-color: cyan;

}
.sidebar ul ul{
 display: none;
}
.sidebar ul .feat-show.show{
 display: block;
}
.sidebar ul .serv-show.show1{
 display: block;
}
.sidebar ul ul li{
 line-height:42px;
 border-top: none;
}
.sidebar ul ul li a{
 font-size: 15px;
 color: #e6e6e6;
 padding-left: 20px;
}
.sidebar ul li.active ul li a{
 color: #e6e6e6;
 background: #1b1b1b;
 border-left-color: transparent;
}

.sidebar ul ul li a:hover{
 color: cyan!important;
 background: #1e1e1e!important;
}
.sidebar ul li a span{
 position: absolute;
 top: 50%;
 right: 20px;
 transform: translateY(-30%);
 font-size: 22px;
 transition: transform 0.4s;
 transform: translateY(-50%)
}

.logo
{
padding-left:350px;
}

.header
{
   position:fixed;
   left: 950px;
   top: 110px;
}
.header a{
   text-decoration: none;
   color: black;
   padding-left: 15px;
   text-transform: uppercase;
   letter-spacing: 0.20em;
   font-size: 15px;
}
.line
{
 border-bottom: 5px solid #e6e6e6;
}
.img1
{
   float:left;
   padding-top:100px;
   padding-left: 450px;
   cursor:pointer
}
.img1 p{
 text-align:center;
 font-size:15px;
 letter-spacing:0.2em;
 padding-top:10px;
 font-weight:400;
}
.img2 p{
 text-align:center;
 font-size:15px;
 letter-spacing:0.2em;
 padding-top:10px;
 font-weight:400;
}
.img3 p{
 text-align:center;
 font-size:15px;
 letter-spacing:0.2em;
 padding-top:10px;
 font-weight:400;
}
.img2
{
   float:left;
   padding-left:150px;
   padding-top:100px;
   cursor:pointer;
}
.img3
{
   float:right;
   padding-right:150px;
   padding-top:100px;
   text-align: center;
   cursor:pointer;
}
#imag4{
 padding-top:20px;
 padding-bottom:20px;
 padding-left:70px;

}

@media screen and (max-width:784px){

 .header{
   position:relative!important;
   margin-left:-90px;
   top:0px;
   left:0px;
   padding-bottom:20px;
 }
 .header a{
   letter-spacing: 1px;
   font-size:12px;

 }
 .img1 ,.img2,.img3{
    float:none;
    text-align:center!important;
    padding:0;
    margin-left:314px;
    padding-top:40px;
    padding-bottom:5px;
 }
 .sidebar ul li{
   line-height:50px;
 }
 #imag4{
   padding-top:10px;
   padding-bottom:10px;
   padding-left:75px;
 }
}

@media screen and (max-width:1024px){
  .header{
    position:relative;
    left:500px;
    top:0px;
    padding-bottom:20px;
  }
  .header a{
    letter-spacing: 1px;
  }
  .logo{
    text-align: center;
  }
  .sidebar ul li{
    line-height:50px;
  }
  #imag4{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:75px;
  }
  .img1 ,.img2,.img3{
     float:none;
     text-align:center!important;
     padding:0;
     margin-left:314px;
     padding-top:40px;
     padding-bottom:5px;
  }
}
