body{
  font-family:sans-serif,serif;
  font-size:14px;
}
input[type=text]{
  border: 1px solid #c0c0c0;
  width:300px;
  height:40px;
  padding:10px;

}
button{
  padding:10px;
  width:100px;
  height:42px;
  border: 1px solid #c0c0c0;
  background-color: none;

}
button:hover{
  background-color: #d9d9d9;
}
.search
{
    margin-left: 400px;
    margin-top: 50px;
}
.article-container
{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 150px;
    margin-left: 400px;

}


.article-box p
{
    font-size: 16px;
    padding-bottom:10px;
}

.error
{
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
@media screen and (max-width:784px){
  input[type=text]{
      width:200px;
    }
    .article-box{
      position:relative;
      top:-80px;
    }
    .article-box p{
      padding-bottom:10px;
    }
    .error{
      position:relative;
      top:-80px;
    }

}
